# Get a test key from https://api.slack.com/docs/oauth-test-tokens
SLACK_API_KEY = 'xoxb-slack_api_key'

# Twitter app
twitter_consumer_key = ""
twitter_consumer_secret = ""

twitter_access_token = ""
twitter_access_secret = ""